.prvoPolje{
    /* background-color: aqua;  */
    border-style: ridge;
    /* border-color: darkblue; */
    border-radius: 15px;
    color:white;
    font-size: 25px;
    
    
}

input[type="text"]
{
    background: transparent;
    border: none;
    font-size: 25px;
    color:white;
    width: 100%;
    text-align: center;
}

input::placeholder {
    color: rgb(140, 140, 140);
    font-size : 25px;
  }


input[type="text"]:focus{    
    background: transparent;
    border: none;
    outline-width: 0;
}

.drugoPolje{
    /* background-color: red; */
    border-style: ridge;
    /* border-color: darkred; */
    border-radius: 15px;
    color:white;
    font-size: 25px;
}

body {
    background-image: url("asocijacije-dodatno/blue.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    max-width: 100%;
    overflow-x: hidden;
}

.conteiner-fluid{
    margin-top : 1%;
    margin-bottom: 1%;
    vertical-align: middle;
}

/* ----------------------------1--------------------------- */

.conteiner-fluid .prviRed{
    justify-content: space-between;
    height : 40px; 
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    max-height: 40px; 
}

.conteiner-fluid .prviRed .prvoPolje{
    width : 32%;
}

.conteiner-fluid .prviRed .drugoPolje{
    width : 32%;
}

.conteiner-fluid .prviRed button{
    width: 100%;
    position:relative; top:25px;
}

/* ----------------------------2,10--------------------------- */

.conteiner-fluid .drugiRed, .conteiner-fluid .desetiRed{
    margin-top : 10px;
    justify-content: space-between;
    height : 40px; 
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.conteiner-fluid .drugiRed .prvoPolje, .conteiner-fluid .desetiRed .prvoPolje{
    width : 37%;
}

.conteiner-fluid .drugiRed .drugoPolje, .conteiner-fluid .desetiRed .drugoPolje{
    width : 37%; 
}

/* ----------------------------3,9--------------------------- */

.conteiner-fluid .treciRed, .conteiner-fluid .devetiRed{
    margin-top : 10px;
    justify-content: space-between;
    height : 40px; 
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}

.conteiner-fluid .treciRed .prvoPolje, .conteiner-fluid .devetiRed .prvoPolje{
    width : 42%; 
}

.conteiner-fluid .treciRed .drugoPolje, .conteiner-fluid .devetiRed .drugoPolje{
    width : 42%; 
}

/* ----------------------------4,5,7,8--------------------------- */

.conteiner-fluid .cetvrtiRed, .conteiner-fluid .petiRed,
.conteiner-fluid .osmiRed, .conteiner-fluid .sedmiRed{
    margin-top : 10px;
    justify-content: space-between;
    height : 40px; 
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

.conteiner-fluid .cetvrtiRed .prvoPolje,
.conteiner-fluid .petiRed .prvoPolje,
.conteiner-fluid .osmiRed .prvoPolje,
.conteiner-fluid .sedmiRed .prvoPolje,
.conteiner-fluid .cetvrtiRed .drugoPolje,
.conteiner-fluid .petiRed .drugoPolje,
.conteiner-fluid .osmiRed .drugoPolje,
.conteiner-fluid .sedmiRed .drugoPolje{
    width : 47%; 
}

/* ----------------------------6--------------------------- */

.conteiner-fluid .sestiRed{
    margin-top : 10px;
    justify-content: center;
    height : 40px; 
    text-align: center;
}

.conteiner-fluid .sestiRed .centralnoPolje{
    width: 38%;
    border-style: ridge;
    color:white;
    border-radius: 15px;
}

/* ----------------------------11--------------------------- */

.conteiner-fluid .jedanaestiRed{
    margin-top : 10px;
    justify-content: space-between;
    height : 40px; 
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

.conteiner-fluid .jedanaestiRed .prvoPolje{
    width : 32%;
}

.conteiner-fluid .jedanaestiRed .drugoPolje{
    width : 32%;
}

/* ----------------------------Kraj--------------------------- */
